.footer {
  background-color: var(--ifm-color-black);
  color: var(--ifm-footer-color);
  font-weight: bold;
}

.footer__link-item,
[data-theme="dark"] .footer__link-item {
  color: var(--cirun-blue-gray-11);
  text-decoration: none;
  @include link-hover(var(--cirun-links-dark));
}
